* {
    margin: 0;
    padding: 0;
}

#navbar {
    padding-bottom: 20px;
    padding-right: 30px;

    #glocke {
        font-size: 20px;
    }
}

#firstimg {
    background-image: url("../images/plannerBG.webp");
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 300px;

    p {
        display: flex;
        justify-content: center;
        color: white;
        font-weight: bold;
        font-size: 20px;
        background-color: black;
        background-size: cover;
        opacity: 0.5;
        padding: 20px;
        border: 3px solid white
    }
}

.weeklytasks {
    padding: 30px;
    font-size: 25px;
    font-weight: bold;
}

#mark {
    padding-right: 5%;
    display: flex; 
    justify-content: end;
    font-size: 25px;
}

#blueTaskbutton{
    display: flex;
    justify-content: center;
    margin-right: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgb(99, 187, 221);
    color: white;
    font-weight: bold;
    font-size: 15px;
}

#prio {
    border: 2px solid black;
    margin-right: 90%;
    display: flex;
    justify-content: center;
}

#prio2 {
    margin-right: 70%;
    padding-right: 10%;
    text-decoration: none;
    background-color: white;
    &:hover {
        transform: scale(1.2);
    }
}

.sort {
    display: flex;
    margin-left: 90%;
    margin-top: 20px;
    padding: 15px;
    background-color: white ;
    border-radius: 20px;
    &:hover {
        transform: scale(1.1);
        background-color: rgb(99, 187, 221);
        color: white;
    }
}


footer {
    margin-top: 5%;
    background-color: black;
    width: 100%;
    height: 50%;
    p{
        color: white;
        font-size: 15px;
        padding-left: 10px;
    }
    a{
        color: white;
        padding: 10px;
        text-decoration: none;
        font-size: 10px;
        font-size: 13px;
    }

    .last {
        display: flex;
        justify-content: center;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}


.importance {
    background-color: green;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}